@model CANJES.Models.TBL_EncabezadoSAP

@{
    ViewBag.Title = "Eliminar Documento";
}

<h2>Eliminar / Documento</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Cliente)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cliente)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Estado)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fecha)
            </dd>
        </dl>
    </div>

    <div class="form-actions no-color">
        <a href="@Url.Action("Documentos_Generados", "VSP_Casa_ClientePrv_Sociedad")"><i class="fas fa-arrow-circle-left"></i> Regresar a listado</a> |
        <input type="submit" id="Eliminar" value="Eliminar" class="btn btn-danger" onclick="return Confirmar1();" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function Confirmar1() {
            if (window.confirm("¿Desea confirmar la solicitud?") == true) {
                return true;
            }
            else {
                alert("¡La acción ha sido cancelada!");
                return false;
            }
        }
    </script>
}
